/* -> import über url */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* -> import von dateien */
/* weights
300: thin
400: regular
500: medium
600: semibold
700: bold
800: extrabold
900: black
*/
/*regular*/
@font-face {
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('../fonts_solution/Inter_24pt-Regular.eot');
    src: url('../fonts_solution/Inter_24pt-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts_solution/Inter_24pt-Regular.woff2') format('woff2'),
    url('../fonts_solution/Inter_24pt-Regular.woff') format('woff');
}
/*bold*/
@font-face {
    font-family: 'Inter';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('../fonts_solution/Inter_24pt-Bold.eot');
    src: url('../fonts_solution/Inter_24pt-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts_solution/Inter_24pt-Bold.woff2') format('woff2'),
    url('../fonts_solution/Inter_24pt-Bold.woff') format('woff');
}
